* {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  margin: 0 auto;
}

body {

  margin: 0 auto;
  padding: 0;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 13px;
  margin: 0;
}

p {
  font-size: 12px;
}

figure {
  filter: drop-shadow(5px 5px 10px #b8b8b8);
}

img {
  object-fit: cover;
  object-position: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
  align-items: center;
  max-width: 950px;
}

.logo {
  margin-left: 5px;
}

.logo img {
  width: 100px;
  margin-left: 0px;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0 5px;
}

nav ul>li {
  padding: 20px 20px 10px;
}

nav ul>li:hover {
  border-top: 3px solid #0065FC;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #0065FC;
}

header {
  margin: 5px auto;
  max-width: 950px;
}

.search_container {
  margin: 35px 15px 10px;
}

.search_container>h3 {
  margin-bottom: 10px;
}

.search_container>p {
  margin: 5px 0;
}

.search_group {
  display: flex;
  width: 500px;
  padding: 5px 0;
  margin: 0;
  justify-content: flex-start;
}

.search_marker {
  background-color: #F2F2F2;
  width: 40px;
  height: 40px;
  border-radius: 15px 0 0 15px;
  position: absolute;
}

.search_marker i {
  position: relative;
  top: 10px;
  left: 15px;
}

form {
  margin-left: 40px;
  display: flex;
}

input[type="text"] {
  width: 200px;
  height: 40px;
  border: 1px solid #F2F2F2;
  position: relative;
  margin: 0;
  padding-left: 10px;
  font-weight: bold;
  color: black;
}

.submit {
  width: 70px;
  height: 40px;
  border-radius: 0 15px 15px 0;
  border: none;
  background-color: #0065FC;
  color: #fff;
  position: relative;
  padding: 0;
  margin: 0;
}

.magGlass {
  display: none;
}

.filters_container {
  display: flex;
  font-weight: 700;
  margin: 5px;
  padding: 0;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 5px;
}

.filters_container h4 {
  margin: 10px;
}

.filters_group {
  margin: 0 10px;
  display: flex;
  flex-wrap: wrap;
}

.filters_options {
  border: 1px solid #DEEBFF;
  border-radius: 25px;
  margin: 5px 10px;
  align-items: center;
  max-width: 300px;
  min-width: 150px;
  display: flex;
  position: relative;
  height: 40px;
}

.options_icon {
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  position: absolute;
  display: flex;
  justify-content: center;
}

.options_icon i {
  position: absolute;
  padding: 10px 0;
}

.options_text {
  padding: 0 10px 0 50px;
}

.info {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 5px;
  padding: 0;
}

.info_icon {
  color: #0065FC;
  border-radius: 30px;
  margin: 0;
}

.info_icon i {
  color: #0065FC;
  border: 2px solid #DEEBFF;
  border-radius: 15px;
  width: 25px;
  height: 25px;
  padding: 3px 8px 1px 7px;
  margin: 5px;
}

main {
  margin: 0 auto;
  padding:0;
  max-width: 950px;
}

.stars {
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

.stars i {
  font-size: 10px;
  height: auto;
  margin: 1px;
}

.acc_container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: space-between;
  padding: 0;
}

.acc_container img {}

.acc_group {
  display: flex;
  flex-wrap: wrap;
  background-color: #F2F2F2;
  margin: 5px 0;
  min-width: 60%;
  max-width: 65%;
  flex-basis: 64%;
  padding: 0px 10px;
  border-radius: 15px;
}

.acc_group_heading {
  margin: 20px 0;
  padding-left: 10px;
}

.acc_group_heading h3 {
  margin-left: 0px;
}

.acc_group_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: -20px;
}

.acc_group_cards figure {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffff;
  border-radius: 15px;
  flex-basis: auto;
  max-width: 170px;
  margin: 10px 5px;
  height: 150px;
}

.acc_group_cards img {
  margin: 3px 3px 0;
  width: 100%;
  height: 60%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.acc_group_cards figcaption {
  width: 90%;
  margin: 0 auto;
}

.acc_group_cards figcaption>h4, p {
  margin: 0;
  padding: 0;
}

.acc_group_cards figure>i {}

.acc_group_more {
  display: block;
  margin: 10px;
  border: none
}

.acc_group_more button {
  font-weight: bold;
  border: none;
  background-color: transparent;
}

input[type="button"] {
  width: 200px;
}

.pop_group {
  background-color: #F2F2F2;
  margin: 5px 0;
  max-width: 35%;
  min-width: 30%;
  flex-basis: 34%;
  padding: 0 5px;
  border-radius: 15px;
}

.pop_group_heading {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
  padding: 0 15px;
}

.pop_group_heading h3 {
  margin-left: 0;
}

.pop_group_heading i {
  margin: 0;
}

.pop_group_cards {
  padding: 0 15px;
}

.pop_group_cards figure {
  background-color: #ffff;
  border-radius: 15px;
  display: flex;
  padding: 3px;
  margin: 20px 0;
  width: 100%;
  height: 120px;
}

.pop_group_cards img {
  width: 40%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin: 0;
}

.pop_group_cards figcaption {
  width: 55%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin-left: 10px;
}

.act_container {
  padding: 5px;
  margin: 20px 0;
}

.act_container>h3 {
  margin-left: 15px;
}

.act_group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.act_group>div {
  flex-basis: 23%;
  min-width: 20%;
}

.act_group img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 0;
}

.act_group h4 {
  margin: 0 10px;
}

.act_card_full {
  height: 250px;
  margin: 0;
}

.act_card_full figure {
  background-color: white;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  margin: 0;
}

.act_card_full img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 80%;
}

.act_card_stacked {
  height: 250px;
  padding: 0;
  margin: 0;
}

.act_card_stacked figure {
  background-color: white;
  border-radius: 15px;
  width: 100%;
  margin: 0;
}

.act_card_stacked div {
  display: block;
}

.act_2 {
  height: 53%;
  margin: 0;
}

.act_2 figure {
  height: 100%;
}

.act_2 img {
  height: 70%;
}

.act_3 {
  height: 39%;
  margin-top: 19px;
}

.act_3 figure {
  height: 100%;
}

.act_3 img {
  height: 70%;
}

.act_5, .act_6 {
  height: 46%;
  margin: 0;
}

.act_5 figure, .act_6 figure {
  height: 100%;
}

.act_5 img, .act_6 img {
  height: 70%;
}

.act_6 {
  margin-top: 19px;
}

footer {
  background-color: #F2F2F2;
  margin-top: 30px;
  padding: 20px 0;
}

.other_group {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
width: 100%;

}

.other_group div {
  width: 250px;
}

.other_group ul {
  display: block;
  list-style-type: none;
  padding: 0;
  line-height: 30px;

}

.other_group h3 {
  max-width: 950px;
  margin: 15px 0;
}

.about {}

.ourAccomocations {}

.assistance {}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    min-width: 550px;
  }


  nav {
    display: block;
    margin: 5px 0;
  }

  nav ul {
    padding: 0;
    margin: 0;
  }

  nav ul>li {
    width: 50%;
    text-align: center;
    border-bottom: 3px solid #F2F2F2;
    padding-bottom: 20px;
  }

  nav ul>li:hover {
    border-bottom: 3px solid #0065FC;
    border-top: none;
  }

  .logo {
    text-align: center;
  }

  .logo img {
    width: 150px;
  }

  header {
    margin: 0 5px;
  }

  .search_container {
    padding: 0 15px;
  }

  .search_group {
    width: 100%;
  }

  .submit {
    display: none;
  }

  .magGlass {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: #0065FC;
    margin: 0 -20px;
    padding: 0;
    position: relative;
  }

  .magGlass i {
    color: #DEEBFF;
    width: 30px;
    height: 30px;
    margin: 0px;
    position: absolute;
    top: 12px;
    left: 12px;
  }

  .filters_container {
    padding: 15px;
  }

  .filters_options {
    width: 230px;
    margin: 10px 10px 10px 0;
  }

  .figure {
    width: 100%;
  }

  .info {
    padding: 0 20px;
  }

  .acc_container {
    display: flex;
    flex-direction: column;
  }

  .acc_group {
    min-width: 100%;
    display: block;
    order: 2;
    padding: 10px 0;
    background-color: transparent;
padding: 10px;
  }

.acc_group_heading {
  margin-bottom: 40px;
}

  .acc_group_cards {
    display: block;
    padding: 0 20px;
  }

  .acc_group_cards figure {
    height: 300px;
    width: 100%;
    max-width: 100%;
    align-content: space-around;
    margin: 20px auto;
    padding: 0px;
  }

  .acc_group_cards img {
    margin: -10px 7px 0;
  }

  .acc_group_cards figcaption {
    margin: 0 20px;
  }

  .acc_group_cards figcaption>p {
    padding: 10px 0;
  }

  .pop_group {
    display: block;
    order: 1;
    border-radius: 0;
    padding: 10px;
  min-width: 100%;
  }

  .pop_group_heading {
    padding: 0 20px;
  }
  .pop_group_cards {
    display: block;
    padding: 0 25px;
  }

  .pop_group_cards figure {
    height: 250px;
    padding: 10px;
    width: 100%;
    max-width: 100%;
  }

  .pop_group_cards figcaption>p {
    width: 100%;
    margin-bottom: 20px;
  }

  .act_group {
    height: auto;
    width: 100%;
    display: block;
    margin: 10px 0;
  }

  .act_group h4 {
    margin: 5px;
    padding: 10px;
  }

  .act_group img {
    height: 80%;
  }

  .act_card_full, .act_card_stacked {
    padding: 0px;
    margin: 30px;
    height: auto;
  }

  .act_card_full figure {
    height: 300px;
  }

  .act_card_stacked>div {
    margin: 0px;
  }

  .act_card_stacked figure {
    margin: 20px 0;
  }

  .act_2 figure, .act_3 figure, .act_5 figure, .act_6 figure {
    height: 300px;
  }

  .other_group {
    display: block;
    padding: 5px 20px;
  }

.other_group>div {
    margin: 20px 10px;
  }

.other_group ul {
    margin-left: 0;
  }
}
