* {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  max-width: 950px;
  margin: auto;
    border: 1px dashed black;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 12px;
}

p {
  font-size: 12px;
}


nav {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 0 5px;
  border: 3px dashed teal;
  align-items: center;
}

.logo {

  margin: 5px;
}

.logo img {
  width: 80px;
  margin-left: 0px;
  border: 1px dashed green;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 5px;
  border: 1px dashed red;
}

nav ul>li {
  padding: 10px 20px;
}

nav ul>li:hover {
  border-top: 2px solid #0065FC;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #0065FC;
}

header {
  margin: 5px;
  border: 3px dashed black;
}

.search_container {
  margin: 0 5px;
}

.search_container>h3 {
  margin-bottom: 10px;
}

.search_container>p {
  margin: 5px 0;
}

.search_group {
  display: flex;
  border: 1px dashed green;
  width: 500px;
  padding: 5px 0;
  margin: 0;
  justify-content: flex-start;
}

.searchbtn {
  background-color: #F2F2F2;
  width: 40px;
  height: 40px;
  border-radius: 15px 0 0 15px;
  position: absolute;
}

.searchbtn i {
  position: relative;
  top: 25%;
  left: 35%;
}

form {
  margin-left: 40px;
}

input[type="text"] {
  width: 200px;
  height: 40px;
  border: 1px solid #F2F2F2;
  position: relative;
  margin: 0;
  padding-left: 10px;
  font-weight: bold;
  color: black;
}

input[type="submit"] {
  width: 70px;
  height: 40px;
  border-radius: 0 15px 15px 0;
  border: none;
  background-color: #0065FC;
  color: #fff;
  position: relative;
  margin-left: -4px;
}

.filters_container {
  display: flex;
  background-color: orange;
  font-weight: 700;
  margin: 5px;
  padding: 0;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 5px;
}

.filters_container h4 {
  margin: 0 10px;
}

.filters_group {
  border: 1px dashed red;
  margin: 0 10px;
  display: flex;
  max-width: 1000px;
  flex-wrap: wrap;
}

.filters_options {
  border: 1px solid #DEEBFF;
  border-radius: 25px;
  margin: 5px 10px;
  align-items: center;
  max-width: 300px;
  min-width: 130px;
  display: flex;
  position: relative;
  height: 40px;
}

.options_icon {
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  position: absolute;
  display: flex;
  justify-content: center;
}

.options_icon i {
  position: absolute;
  padding: 12px 0;
}

.options_text {
  padding: 0 10px 0 50px;
}

.info {
  display: flex;
  position: relative;
  align-items: center;
  margin: 5px 5px;
  padding: 0;
  width: 425px;
  background-color: cyan;
}

.info_icon {
  color: #0065FC;
  border-radius: 30px;
}

.info_icon i {
  color: #0065FC;
  border: 2px solid #DEEBFF;
  border-radius: 15px;
  width: 25px;
  height: 25px;
  padding: 3px 8px 1px 7px;
  margin: 10px;
}

main {
border: 2px dashed blue;
  margin: 5px;
}

.stars {
  display: flex;
  border: 2px dashed blue;
  justify-content: flex-start;
}

.stars i {
  border: 1px dashed red;
  font-size: 10px;
  height: auto;
  margin: 0;
}

#acc {
  margin: 5px;
  border: 2px dashed blue;
}

.acc_container {
  display: flex;
  flex-wrap: wrap;
  background-color: pink;
  margin: 5px;
  justify-content: space-between;
  padding: 0;
}

.acc_container img {
  object-fit: cover;
  object-position: center;
}

.acc_group {
  display: flex;
  flex-wrap: wrap;
  background-color: #F2F2F2;
  margin: 5px;
  min-width: 450px;
  max-width: 65%;
  flex-basis: 65%;
  padding: 0 5px;
  border-radius: 15px;
}

.acc_group_heading {
  border: 2px dashed hotpink;
  margin: 5px 0;
  align-self: center;
}

.acc_group_heading h3 {
  margin: 0;
  padding: 0;
}

.acc_group_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 3px dashed black;
  margin: 0;
  padding: 0;
}

.acc_group_cards figure {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  background-color: pink;
  border-radius: 15px;
  flex-basis: 30%;
  margin: 10px 0 15px;
  height: 150px;
}

.acc_group_cards img {
  margin: 3px 3px 0;
  width: 100%;
  height: 60%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.acc_group_cards figcaption {
  width: 90%;
  border: 1px dashed red;
  margin: 0 auto;
}

.acc_group_cards figcaption>h4, p {
  margin: 0;
  padding: 0;
  border: 2px dashed green;
}

.acc_group_cards figure>i {
  border: 2px dashed orange;
}

.acc_group_more {
  display: block;
}

.show_group_more button {
  font-weight: bold;
}

input[type="button"] {
  width: 200px;
  outline: none;
  border: none;
}

.pop_container {}

.pop_group {
  background-color: #F2F2F2;
  margin: 5px;
  max-width: 35%;
  min-width: 290px;
  flex-basis: 33%;
  padding: 0 5px;
  border-radius: 15px;
}

.pop_group_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px dashed hotpink;
  margin: 5px 0;
}

.pop_group_heading h3 {
  margin: 0;
}

.pop_group_heading i {
  border: 2px dashed orange;
  margin: 0;
}

.pop_group_cards {
  border: 2px dashed black;
  padding: 0 10px;
}

.pop_group_cards figure {
  background-color: gray;
  border-radius: 15px;
  display: flex;
  padding: 3px;
  margin: 15px 0;
  width: 100%;
  height: 130px;
}

.pop_group_cards img {
  width: 40%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#act_container {
  background-color: pink;
  margin: 5px;
  padding: 5px 15px 15px;
}

.act_group_cards {
  display: flex;
  border: 1px dashed black;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

.act_group_cards h4 {
  margin: 11px 10px 0;
  padding: 0;
}

.act_group_cards figure {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
}

.act_group_cards img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card_full {
  flex-basis: 23%;
  min-width: 200px;
  margin: 0;
}

.card_full figure {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0;
}

.card_full img {
  width: 100%;
  height: 85%;
}

.card_stacked {
  flex-basis: 23%;
  height: 300px;
}

.card_stacked>div {
  min-width: 200px;
}

.act_2 {
  width: 100%;
  height: 53%;
}

.act_2 img {
  width: 100%;
  height: 72%;
}

.act_3 {
  height: 38%;
}

.act_3 figure {
  margin-top: 13%;
}

.act_3 img {
  height: 61%;
}

.act_5, .act_6 {
  width: 100%;
  height: 45%;
}

.act_6 figure {
  margin-top: 14%;
}

.act_5 img, .act_6 img {
  width: 100%;
  height: 67%;
}

footer {
  padding: 20px 0;
  background-color: #DEEBFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px;
  border: 2px dashed blue;
}

footer div {
  margin: 10px 10px;
}

footer ul {
  display: block;
  list-style-type: none;
  padding: 0;
  width: 250px;
  line-height: 30px;
}

footer h3 {
  margin: 15px 0;
}

.about {}

.ourAccomocations {}

.assistance {}

@media screen and (min-width: 992px) {
  main {
    background-color: grey;
  }
}

@media screen and (max-width: 768px) {
  * {
    background-color: yellow;
  }

  nav {
    display: block;
    margin: 5px;
  }

  .logo {
    text-align: center;
  }

  .logo img {
    width: 150px;
  }
 nav ul{

 }
 nav ul>li:hover {
   border-botoom: 2px solid #0065FC;
 }


  header {
    margin: 0 5px;
  }

  #acc {
    margin: 0 5px;
  }

  figure {
    width: 100%;
  }

  .acc_group_cards {
    display: block;
    border: 2px dashed black;
  }

  .act_group_cards {
    background-color: wheat;
    display: block;
  }

  .act_group_cards h4 {
    margin: 5px;
    padding: 10px;
  }

  .card_full, .card_stacked {
    height: 300px;
  }

  .card_full figure {
    height: 300px;
  }

  .card_stacked>div {
    margin: 10px 0;
  }

  .card_stacked figure {
    margin: 20px 0;
    padding: 5px;
  }

  footer {
    display: block;

  }

  footer ul {
    margin-left: 0;
  }
}
