* {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #0065FC;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
  background-color: powderblue;
}

.logo img {
  width: 80px;
}

nav>ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

nav>ul>li {
  padding: 10px 20px;
}

nav>ul>li:hover {
  border-top: 2px solid #0065FC;
}

header {
  margin: 0;
  border: 3px dashed black;
}

.search_container {
  background-color: teal;
  margin: 0 5px;
  padding: 0 10px;
}

.search_container>h3 {
  margin-bottom: 10px;
}

.search_container>p {
  margin-top: 5px;
}

.search_group {
  display: flex;
  border: 1px dashed green;
  width: 500px;
  padding: 5px 0;
}

.searchbtn {
  background-color: #F2F2F2;
  width: 40px;
  height: 40px;
  border-radius: 15px 0 0 15px;
  position: absolute;
}

.searchbtn>.fas {
  position: relative;
  top: 25%;
  left: 35%;
}

input[type="text"] {
  width: 200px;
  height: 40px;
  border: 1px solid #F2F2F2;
  position: relative;
  left: 40px;
  padding-left: 10px;
  font-weight: bold;
  color: black;
}

input[type="submit"] {
  width: 70px;
  height: 40px;
  border-radius: 0 15px 15px 0;
  border: none;
  background-color: #0065FC;
  color: #fff;
  position: relative;
  left: 36px;
}

.filters_container {
  display: flex;
  background-color: orange;
  font-weight: 700;
  margin: 5px;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.filters_group {
  border: 1px dashed red;
  margin: 0 10px;
  display: flex;
  max-width: 1000px;
  flex-wrap: wrap;
}

.filters_options {
  border: 1px solid #DEEBFF;
  border-radius: 25px;
  margin: 5px 10px;
  align-items: center;
  max-width: 300px;
  min-width: 130px;
  display: flex;
  position: relative;
  height: 40px;
}

.options_icon {
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  position: absolute;
}

.options_icon>.fas {
  position: absolute;
  top: 25%;
  left: 25%;
}

.options_text {
  padding: 0 10px 0 50px;
}

.info {
  display: flex;
  position: relative;
  align-items: center;
  margin: 10px 0;
  width: 425px;
  background-color: cyan;
}

.info-icon {
  color: #0065FC;
  border: 2px solid #DEEBFF;
  border-radius: 15px;
  position: absolute;
  left: 5%;
}

.info_icon .fas {
  color: #0065FC;
  border: 2px solid #DEEBFF;
  border-radius: 250px;
  width: 25px;
  height: 25px;
  padding: 3px;
  margin: 10px;
}

content {
  background-color: red;
}

#acc {
  margin-top: 5px;
}

.acc_container {
  display: grid;
  grid-template: 1fr/ 2fr 1fr;
  grid-gap: 10px;
  background-color: red;
  margin: 0 5px;
  border: 2px dashed hotpink;
}

.acc_group {
  background-color: lightblue;
  margin: 10px;
  min-width: 400px;
}

.acc_group_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px dashed blue;
  margin: 5px;
}

.acc_group_cards>figure {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 25px;
  flex-basis: 30%;
  margin: 10px;
  min-width: 150px;
  max-width: 40%;
}

.acc_group_cards figure>img {
  width: 95%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin: auto;
}

.acc_group_cards figure>figcaption, i {
  width: 95%;
  height: auto;
  margin: 0 auto;
  border: 2px dashed red;
}

.acc_group_more {
  display: block;
}

.show_group_more button {
  font-weight: bold;
}

input[type="button"] {
  width: 200px;
  outline: none;
  border: none;
}

.pop_container {
  background-color: lightblue;
  margin: 10px;
}

.pop_group {}

.pop_group_cards {
  margin: 10px;
  border-radius: 15px;
  min-width: 300px;
  min-height: 100px;
}

.pop_group_cards>figure {
  background-color: white;
  border-radius: 25px;
  display: flex;
  padding: 5px;
}

.pop_group_cards figure>img {
  width: 40%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

#act_container {
  border: 5px dashed darkblue;
  margin: 5px;
}

.act_group_cards {
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 5px;
}

.act_group_cards>div {
  flex-basis: 20%;
  height: 300px;
  margin: 15px;
  border-radius: 15px;
  min-width: 200px;
  max-width: 300px;
  padding: 3px;
}

.full {
  background-color: orange;
}

.full figure>img {
  width: 100%;
}

.stacked {
  background-color: teal;
}

.stacked figure>img {
  width: 100%;
}

#act_2 {
  border: 4px dashed yellow;
  height: 70%;
  width: 90%;
}

#act_2>img {
  width: 90%;
}

#act_3 {
  height: 30%;
  border: 4px dashed tomato;
}

#act_3>img {
  width: 90%;
}

#act_5, #act_6 {
  height: 50%;
  border: 4px dashed aquamarine;
}

#act_5, #act_6 figure>img {
  height: 50%;
}

footer {
  padding: 20px 0;
  background-color: #DEEBFF;
  display: flex;
  flex-wrap: wrap;
}

footer>div {
  margin: 10px 100px 20px 30px;
}

footer ul {
  display: block;
  list-style-type: none;
  padding: 0;
  width: 250px;
  margin: 1px 130px 1px 1px;
  line-height: 30px;
}

footer h3 {
  margin: 15px 0;
}

.about {}

.ourAccomocations {}

.assistance {}
