* {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  padding: 0;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 13px;
  margin: 0;
  color: black;
}

p {
  font-size: 12px;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.clickable {
  display: flex;
  margin: 0;
}

.clickable:hover {
  filter: drop-shadow(5px 5px 5px #adadad);
  transform: translateY(-1px);
}

.clickable:active {
  transform: translateY(0.5px);
}

figure {
  filter: drop-shadow(5px 5px 10px #b5b5b5);
}

img {
  object-fit: cover;
  object-position: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
  align-items: flex-end;
  max-width: 950px;
}

.logo {
  margin-left: 0px;
}

.logo img {
  width: 100px;
  margin-left: 0px;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0px 5px;
}

nav ul>li {
  padding: 40px 20px 10px;
}

nav ul>li:hover {
  border-top: 3px solid #0065FC;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: #0065FC;
}

header {
  margin: 5px auto;
  max-width: 950px;
  padding: 0 15px;
}

.search_container {
  margin: 35px 0 10px;
}

.search_container>h3 {
  margin-bottom: 10px;
}

.search_container>p {
  margin: 5px 0;
}

.search_group {
  display: flex;
  width: 500px;
  padding: 5px 0;
  margin: 0;
  justify-content: flex-start;
}

.search_marker {
  background-color: #F2F2F2;
  width: 40px;
  height: 40px;
  border-radius: 15px 0 0 15px;
  position: absolute;
}

.search_marker i {
  position: relative;
  top: 10px;
  left: 15px;
}

form {
  margin-left: 40px;
  display: flex;
}

input[type="text"] {
  width: 200px;
  height: 40px;
  border: 1px solid #F2F2F2;
  outline: none;
  position: relative;
  margin: 0;
  padding-left: 10px;
  font-weight: bold;
  color: black;
}

.submit {
  width: 70px;
  height: 40px;
  border-radius: 0 15px 15px 0;
  border: none;
  background-color: #0065FC;
  color: #fff;
  position: relative;
  padding: 0;
  margin: 0;
}

.magGlass {
  display: none;
}

.filters_container {
  display: flex;
  font-weight: 700;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 5px;
}

.filters_container h4 {
  margin: 5px;
}

.filters_group {
  margin: 0 10px;
  display: flex;
  flex-wrap: wrap;
}

.filters_options {
  border: 1px solid #DEEBFF;
  border-radius: 25px;
  margin: 5px 10px;
  align-items: center;
  max-width: 300px;
  min-width: 150px;
  display: flex;
  position: relative;
  height: 40px;
}

.options_icon {
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  position: absolute;
  display: flex;
  justify-content: center;
}

.filters_options:hover i {
  transform: rotate(360deg);
  transition: 1s;
}

.options_icon i {
  position: absolute;
  padding: 10px 0;
}

.options_text {
  padding: 0 10px 0 50px;
}

.info {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 5px 0;
  padding: 0;
}

.info_icon {
  color: #0065FC;
  border-radius: 30px;
  margin: 0;
}

.info_icon i {
  color: #0065FC;
  border: 2px solid #DEEBFF;
  border-radius: 15px;
  width: 25px;
  height: 25px;
  padding: 3px 8px 1px 7px;
  margin: 5px;
}

main {
  margin: 0 auto;
  padding: 0;
  max-width: 950px;
}

.stars {
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

.stars i {
  font-size: 10px;
  height: auto;
  margin: 1px;
  color: #0065FC;
}

.acc_container {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  justify-content: space-between;
  padding: 15px;
  max-width: 950px;
}

.acc_container img {}

.acc_group {
  display: flex;
  flex-wrap: wrap;
  background-color: #F2F2F2;
  margin: 5px 0;
  min-width: 60%;
  max-width: 65%;
  flex-basis: 63%;
  padding: 10px 20px;
  border-radius: 15px;
  align-content: flex-start;
}

.acc_group_heading {
  margin: 20px 0;
}

.acc_group_heading h3 {
  margin-left: 10px;
}

.acc_group_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 0;
}

.acc_group_cards a {
  margin-bottom: 20px;
}

.acc_group_cards figure {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffff;
  border-radius: 15px;
  flex-basis: auto;
  max-width: 170px;
  margin: 0;
  height: 150px;
  padding: 5px;
}

.acc_group_cards img {
  width: 100%;
  height: 60%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.acc_group_cards figcaption {
  width: 90%;
  margin: 0 auto;
}

.acc_group_cards figcaption>h4, p {
  margin: 0;
  padding: 0;
}

.acc_group_cards figure>i {}

.acc_group_more {
  display: block;
  margin: 10px;
  border: none;
  background-color: transparent;
  font-weight: bold;
}

.acc_group_more button {
  font-weight: bold;
  border: none;
  background-color: transparent;
}

input[type="button"] {
  width: 200px;
}

.pop_group {
  background-color: #F2F2F2;
  margin: 5px 0;
  max-width: 35%;
  min-width: 30%;
  flex-basis: 34%;
  padding: 10px;
  border-radius: 15px;
}

.pop_group_heading {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
  padding: 0 15px;
}

.pop_group_heading h3 {
  margin-left: -10px;
}

.pop_group_heading i {
  margin: 0;
}

.pop_group_cards {
  margin: 0 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.pop_group_cards a {
  margin: 10px 0;
}

.pop_group_cards figure {
  background-color: #ffff;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  height: 110px;
}

.pop_group_cards img {
  width: 40%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin: 0;
}

.pop_group_cards figcaption {
  width: 55%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  margin-left: 10px;
}

.act_container {
  padding: 10px 0;
  margin: 20px 0;
}

.act_container h3 {
  margin: 0 15px 25px;
}

.act_group {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  justify-content: space-between;
}

.act_group>div {
  flex-basis: 23%;
  min-width: 20%;
  margin: 0px;
  height: 250px;
}

.card_stacked {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.act_card {
  width: 100%;
  height: 250px;
  margin: 0px;
}

.act_card h4 {
  margin: 5px 0 0 10px;
}

.act_card figure {
  border-radius: 15px;
  background-color: white;
  margin: 0px;
  height: 100%;
}

.act_card img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 85%;
}

.act_2 {
  height: 135px;
}

.act_2 img {
  height: 70%;
}

.act_3 {
  height: 89px;
}

.act_3 img {
  height: 60%;
}

.act_5, .act_6 {
  height: 110px;
}

.act_5 img, .act_6 img {
  height: 70%;
}

footer {
  background-color: #F2F2F2;
  margin-top: 30px;
  padding: 20px 0;
}

.other_group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 950px;
}

.other_group>div {
  width: 260px;
  margin: 15px;
}

.other_group ul {
  display: block;
  list-style-type: none;
  padding: 0;
  line-height: 30px;
}

.other_group h3 {
  margin: 15px 0;
}

.about {}

.ourAccomocations {}

.assistance {}

@media screen and (max-width: 768px) {
  body {
    padding: 0;
    min-width: 450px;
  }

  h3 {
    font-size: 180%;
  }

  h4 {
    font-size: 140%;
  }

  p {
    font-size: 120%;
  }

  a {
    font-size: 120%;
  }

  nav {
    display: block;
    margin: 5px 0;
  }

  nav ul {
    padding: 0;
    margin: 0;
  }

  nav ul>li {
    width: 50%;
    text-align: center;
    border-bottom: 3px solid #F2F2F2;
    padding-bottom: 20px;
  }

  nav ul>li:hover {
    border-bottom: 3px solid #0065FC;
    border-top: none;
  }

  .logo {
    text-align: center;
  }

  .logo img {
    width: 150px;
  }

  header {
    margin: 0;
  }

  .search_container {
    padding: 0;
  }

  .search_container>h3 {
    margin-bottom: 25px;
  }

  .search_group {
    width: 100%;
  }

  input[type="text"] {
    font-size: 120%;
    width: 250px;
  }

  .submit {
    display: none;
  }

  .magGlass {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: #0065FC;
    margin: 0 -20px;
    padding: 0;
    position: relative;
  }

  .magGlass i {
    color: #DEEBFF;
    width: 30px;
    height: 30px;
    margin: 0px;
    position: absolute;
    top: 12px;
    left: 12px;
  }

  .filters_container {
    padding: 15px 0;
  }

  .filters_group {
    margin: 0;
  }

  .filters_options {
    width: 260px;
    margin: 10px 30px 10px 0;
    padding: 25px 0;
  }

  .options_icon {
    width: 50px;
    height: 50px;
  }

  .options_icon i {
    font-size: 25px;
  }

  .options_text {
    padding: 0 10px 0 60px;
  }

  .figure {
    width: 100%;
  }

  .info {
    padding: 0;
  }

  .stars i {
    font-size: 110%;
  }

  .acc_container {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .acc_group {
    min-width: 100%;
    display: block;
    order: 2;
    background-color: transparent;
    padding: 20px 10px;
  }

  .acc_group_heading {
    margin: 30px 0 10px;
  }

  .acc_group_cards {
    margin: 0 15px;
  }

  .acc_group_cards a {
    margin: 20px 0;
    width: 100%;
  }

  .acc_group_cards figure {
    height: 300px;
    padding: 10px;
    min-width: 400px;
    width: 100%;
    max-width: none;
    margin: 0px;
  }

  .acc_group_cards img {
    height: 60%;
  }

  .acc_group_cards figcaption {
    margin: 0 20px;
  }

  .acc_group_cards figcaption>p {
    padding: 10px 0;
  }

  .acc_group_more {
    font-size: 25px;
  }

  .pop_group {
    order: 1;
    border-radius: 0;
    padding: 30px 10px;
    min-width: 100%;
  }

  .pop_group_heading {
    padding: 20px 20px 10px;
    justify-content: space-between;
  }

  .pop_group_heading h3 {
    margin-left: -10px;
  }

  .pop_group_heading i {
    font-size: 200%;
  }

  .pop_group_cards {
    padding: 0;
    margin: 0 20px;
  }

  .pop_group_cards a {
    margin: 20px 0;
  }

  .pop_group_cards figure {
    height: 250px;
    padding: 0;
  }

  .pop_group_cards figcaption {
    margin-left: 20px;
  }

  .pop_group_cards figcaption>p {
    width: 100%;
    margin-bottom: 20px;
  }

  .act_container {
    margin: 10px 0;
    padding: 20px 0;
  }

  .act_group {
    display: block;
    margin: 20px;
  }

  .act_group>div {
    height: auto;
    width: 100%;
  }

  .act_card {
    height: 300px;
    margin: 20px 0;
  }

  .act_card h4 {
    margin: 10px 0 0 20px;
  }

  .act_card img {
    height: 75%;
  }

  .other_group {
    display: block;
    padding: 5px 30px;
  }

  .other_group>div {
    margin: 20px 0px;
    min-width: 300px;
  }

  .other_group ul {
    margin-left: 0;
  }
}
